@import "tailwindcss";
@import "@fontsource/roboto";

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: #f2f0bd;
}
